@mixin button-icon
  width: $icon-size
  height: $icon-size
  position: absolute
  top: (ln(2) - $icon-size) / 2
  right: ((ln(2) + $icon-size) - $icon-size) / 2
  z-index: 3
  pointer-events: none
  content: ""

@mixin block-button
  @include text-button
  @include no-text
  @include smart-image-glow($accent-color)
  @include smart-icon-after("block", $object-color-name, $accent-color-name)
  @include smart-opacity(0.2, 1)
  display: block
  height: ln(2)
  line-height: ln(2)
  width: ln(2) + $icon-size
  transition: ease(opacity, 1, 0), ease(filter, 1, 0), ease(-webkit-filter, 1, 0)
  position: relative
  z-index: 2
  &:after
    @include button-icon


span.block-button
  @include block-button


@mixin pill-button
  @include text-button
  @include no-underline
  @include smart-text-glow($white)
  display: inline-block
  font-size: em(3/4)
  padding-bottom: em(3/4) // To counter font-size
  height: ln(3/2)
  line-height: ln(3/2)
  padding-left: ln(1)
  padding-right: ln(1)
  background-color: $white
  color: $accent-color
  border: 1px rgba($accent-color, 1) solid
  border-radius: 512px
  transition: ease(background-color, 1, 0), ease(border-color, 1, 0), ease(color, 1, 0), ease(text-shadow, 1, 0)
  @include frob-when-frobbed
    background-color: $accent-color
    color: $white
    border-color: transparent
  code
    font-size: em((5/6) * (5/6))
    padding-bottom: em((5/6) * (5/6))
  .hairline &
    border-width: 0.5px


a.pill-button
  @include pill-button
