@mixin button-icon
  width: $icon-size
  height: $icon-size
  position: absolute
  top: (ln(2) - $icon-size) / 2
  right: ((ln(2) + $icon-size) - $icon-size) / 2
  z-index: 3
  pointer-events: none
  content: ""

@mixin block-button
  @include text-button
  @include no-text
  @include smart-image-glow($accent-color)
  @include smart-icon-after("block", $object-color-name, $accent-color-name)
  @include smart-opacity(0.2, 1)
  display: block
  height: ln(2)
  line-height: ln(2)
  width: ln(2) + $icon-size
  transition: ease(opacity, 1, 0), ease(filter, 1, 0), ease(-webkit-filter, 1, 0)
  position: relative
  z-index: 2
  &:after
    @include button-icon


span.block-button
  @include block-button


@mixin common-field
  display: inline-block
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  font-size: em(3/4)
  padding-bottom: em(3/4) // To counter font-size
  height: ln(3/2)
  line-height: ln(3/2)
  background-color: $white
  color: $gray6
  border: 1px rgba($gray6, 0.8) solid
  .hairline &
    border-width: 0.5px
  &.meta
    font-style: italic
  &.disabled
    cursor: none
    pointer-events: none
    color: rgba($gray6, 0.4)
    border-color: rgba($gray6, 0.4 * 0.8)


@mixin common-button
  @include common-field
  @include text-button
  @include no-underline
  transition: ease(background-color, 1, 0), ease(border-color, 1, 0), ease(color, 1, 0), ease(text-shadow, 1, 0)
  text-align: center
  @include frob-when-frobbed
    background-color: $accent-color
    color: $white
    border-color: transparent
  &.selected
    font-weight: bold
    color: $accent-color
    border-color: rgba($accent-color, 0.8)
    @include frob-when-frobbed
      color: $white
      border-color: transparent
  &.disabled.selected
    color: rgba($accent-color, 0.4)
    border-color: rgba($accent-color, 0.4 * 0.8)


@mixin static-field
  @include common-field
  text-align: center
  color: $gray6
  border-color: rgba($gray6, 0.4)


@mixin radio-button
  @include common-button
  @include smart-text-glow($white)
  border: 1px rgba($gray6, 0.8) solid
  border-radius: ln(1/6)


@mixin pill-button
  @include common-button
  @include smart-text-glow($white)
  color: $accent-color
  border: 1px rgba($accent-color, 0.8) solid
  border-radius: 512px
  width: ln(4)


a.pill-button
  @include pill-button
