@function em($n)
  @return font-size($n) * 1px

@function ln($n)
  @return line-height($n) * 1px


@import "cannot/layout/button"


body
  font-size: em(1)
  line-height: ln(1)

aside
  font-size: em(2/3)
  padding-top: em(2/3) // To counter font-size
  p:first-of-type
    margin-top: 0

em
  font-style: italic

strong
  font-weight: bold


// To get above main
header
  position: relative
  z-index: 1

header a
  @include no-underline

header div.wrapper > *
  margin-right: ln(1)

header div.wrapper > nav
  margin-left: 0
  margin-right: 0


main
  margin-top: ln(-2)
  padding-top: ln(6)
  padding-bottom: ln(6)



section
  position: relative // For .backlink-button

section > *
  margin-right: ln(1)

section > section
  margin-left: 0
  margin-right: 0

section > hr
  margin-left: 0
  margin-right: 0

section span.backlink-button
  position: absolute // Referencing section
  top: 0
  right: 0
  margin-right: 0

section span.backlink-button a
  @include button
  @include smart-icon-after("up", $object-color-name, $accent-color-name)

section p
  margin-top: ln(1/2)

section ul
  margin-top: ln(1/2)

section ul li
  margin-left: ln(1)
  min-height: ln(1)
  position: relative

section ul li:before
  color: $accent-color
  content: "•"
  position: absolute
  left: ln(-1)
  top: 0

section ol
  margin-top: ln(1/2)
  counter-reset: numbered-list

section ol li
  margin-left: ln(1)
  min-height: ln(1)
  position: relative

section ol li:before
  color: $accent-color
  content: counter(numbered-list)
  counter-increment: numbered-list
  position: absolute
  left: ln(-1)
  top: 0

section blockquote
  margin-top: ln(1/2)

section pre
  margin-top: ln(1/2)

section hr
  @include rule-after($accent-color)
  border: none
  height: ln(1/2)
  margin-top: ln(3)
  margin-bottom: ln(1)

section.level1
  margin-top: ln(6)
  &:first-of-type
    margin-top: 0

section h1
  color: $accent-color
  font-size: em(2)
  font-weight: bold
  line-height: ln(2)
  margin-bottom: ln(1)

section h1 a
  @include no-underline
  color: $accent-color
  @include frob-when-frobbed
    color: $accent-color

section.level2
  @include rule-before($accent-color, $top: ln(-1/2) - 1)
  margin-top: ln(4)

section h2
  color: $accent-color
  font-size: em(3/2)
  font-weight: bold
  line-height: ln(2)
  margin-bottom: ln(1/2)
  position: relative

section h2 a
  @include no-underline
  color: $accent-color
  @include frob-when-frobbed
    color: $accent-color

section.level3
  @include rule-before(rgba($object-color, 0.2))
  margin-top: ln(2)

section h3
  color: $accent-color
  font-weight: bold
  padding-top: ln(1/2)
  padding-bottom: ln(1/2)
  margin-bottom: ln(1/2)

section h3 a
  @include no-underline
  color: $accent-color
  @include frob-when-frobbed
    color: $accent-color

section.level4
  margin-top: ln(1)

section h4
  color: $accent-color
  font-weight: bold
  padding-top: ln(1/2)
  padding-bottom: ln(1/2)
  margin-bottom: ln(1/2)

section h4 a
  @include no-underline
  color: $accent-color
  @include frob-when-frobbed
    color: $accent-color

section.level5
  margin-top: ln(1)

section h5
  font-weight: bold
  padding-top: ln(1/2)
  padding-bottom: ln(1/2)
  margin-bottom: ln(1/2)

section h5 a
  @include no-underline
  color: $body-color
  @include frob-when-frobbed
    color: $accent-color

section.level6
  margin-top: ln(1)

section h6
  font-style: italic
  padding-top: ln(1/2)
  padding-bottom: ln(1/2)
  margin-bottom: ln(1/2)

section h6 a
  @include no-underline
  color: $body-color
  @include frob-when-frobbed
    color: $accent-color

section.with-toc ul.toc
  margin-top: ln(1)
  margin-bottom: ln(1)


footer
  padding-bottom: ln(1)
  color: $subject-color

footer a
  @include no-underline

footer div.wrapper > *
  margin-right: ln(1)

footer div.wrapper > nav
  margin-left: 0
  margin-right: 0

footer nav
  @include rule-before(rgba($subject-color, 0.2))


#what-browser
  background: rgba(#f00, 0.8)
  background: linear-gradient(to right, rgba(#f00, 0.8) 0%, rgba(white, 0.0) 100%)
  color: white
  bottom: 0
  height: ln(1)
  line-height: ln(1)
  padding-right: ln(1)
  padding-left: ln(1)
  position: fixed
  width: 100%

#what-browser a
  @include smart-text-glow(white)
  @include frob-always
    color: white
    &:after
      border-bottom: 1px rgba(white, 0.4) solid


@import "cannot/layout/menu-bar-common"
@import "cannot/layout/hero-common"

@import "layout/common"
