@function em($n)
  @return font-size($n) * 1px

@function ln($n)
  @return line-height($n) * 1px


@import "cannot/layout/button"


body
  font-size: em(1)
  line-height: ln(1)

aside
  font-size: em(3/4)
  position: relative // To counter font-size
  top: em(1/8)

em
  font-style: italic

strong
  font-weight: bold


main
  margin-top: ln(-2)
  padding-top: ln(6)
  padding-bottom: ln(6)

footer
  padding-bottom: ln(1)
  color: $object-color
  -webkit-font-smoothing: antialiased



main section
  position: relative // For span.backlink-button

section.level1
  margin-top: ln(6)
  &:first-of-type
    margin-top: 0
  h1
    color: $accent-color
    font-size: em(2)
    font-weight: bold
    line-height: ln(2)
    margin-bottom: ln(1)

section.level2
  margin-top: ln(4)
  &:before
    border-top: 1px $accent-color solid
    position: absolute
    top: ln(-1/2) - 1
    left: 0
    right: 0
    content: ""
  h2
    color: $accent-color
    font-size: em(3/2)
    font-weight: bold
    line-height: ln(2)
    margin-bottom: ln(1/2)
    position: relative

section.level3
  margin-top: ln(3)
  &:before
    border-top: 1px rgba($object-color, 0.2) solid
    position: absolute
    top: ln(-1/2) - 1
    left: 0
    right: 0
    content: ""
  h3
    color: $accent-color
    font-weight: bold
    margin-bottom: ln(1/2)
  p:first-of-type
    margin-top: ln(1/2) // TODO: Why does it have more?

section.level4
  margin-top: ln(2)
  h4
    color: $accent-color
    font-weight: bold
    margin-bottom: ln(1/2)
  p:first-of-type
    margin-top: ln(1/2) // TODO: Why does it have more?

section.level5
  margin-top: ln(3/2)
  h5
    font-weight: bold
    margin-bottom: ln(1/2)
  p:first-of-type
    margin-top: ln(1/2) // TODO: Why does it have more?

section.level6
  margin-top: ln(1)
  h6
    font-style: italic
    margin-bottom: ln(1/2)
  p:first-of-type
    margin-top: ln(1/2) // TODO: Why does it have more?





nav h1
  position: relative // TODO: Why?

header
  position: relative
  z-index: 1



.toc
  margin-bottom: ln(1)

.toc.menu
  display: none !important

hr
  border: none
  border-top: 1px $accent-color solid
  height: ln(1)
  margin-top: ln(5) - 1
  margin-bottom: ln(1/2) + 1

p, main ul, main ol, main pre, main blockquote
  margin-top: ln(1/2)
  margin-bottom: ln(1/2)

main p:last-of-type
  margin-bottom: 0

// TODO: sup
// sup
//   font-size: em(2/3)
//   position: relative
//   bottom: em(1/2)



main ul li
  margin-left: ln(1)
  position: relative

main ul li:before
  color: $accent-color
  content: "•"
  position: absolute
  left: ln(-1)
  top: 0






footer
  color: $object-color
  // opacity: 0.5
  // -webkit-font-smoothing: antialiased
  // @include frob-always
  //   transition: ease(opacity, 1, 0)
  // @include frob-when-frobbed
  //   opacity: 1




#what-browser
  background: rgba(#f00, 0.8)
  background: linear-gradient(to right, rgba(#f00, 0.8) 0%, rgba(white, 0.0) 100%)
  color: white
  bottom: 0
  height: ln(1)
  line-height: ln(1)
  padding-right: ln(1)
  padding-left: ln(1)
  position: fixed
  width: 100%

#what-browser a
  @include smart-text-glow(white)
  @include frob-always
    color: white
    &:after
      border-bottom: 1px rgba(white, 0.4) solid

#what-browser p
  margin: 0



@import "cannot/layout/menu-bar/common"
@import "cannot/layout/accent/common"
@import "cannot/layout/hero/common"
@import "cannot/layout/toc/common"

@import "layout/common"
