header div.wrapper > *
  margin-left: (1/3) * 100%
  margin-right: ln(1)

header div.wrapper > nav
  margin-left: 0
  margin-right: 0

header nav
  @include rule-after

#header-button-wrapper
  display: none


main section > *
  margin-left: (1/3) * 100%
  margin-right: ln(1)

main section > section
  margin-left: 0
  margin-right: 0


footer div.wrapper > *
  margin-left: (1/3) * 100%
  margin-right: ln(1)

footer div.wrapper > nav
  margin-left: 0
  margin-right: 0

footer nav
  @include rule-before

#footer-button-wrapper
  display: none


@import "cannot/layout/menu-bar/medium-large"
@import "cannot/layout/accent/medium-large"
@import "cannot/layout/hero/medium-large"
@import "cannot/layout/toc/medium-large"

@import "layout/medium-large"
