@if $debug
  html
    @include image("baseline-grayC-small", "png")
    background-position: left top
    background-repeat: repeat
    background-size: ln(1) ln(1)


.face
  background-size: 96px 96px
  width: 96px
  height: 96px

.micro.face
  background-size: 48px 48px
  width: 48px
  height: 48px


@import "layout/small-medium"
