$layout-width: $layout-width-small

@function font-size($n)
  @return $n * $font-size-small

@function line-height($n)
  @return $n * $line-height-small


@import "cannot/layout/common"
@import "cannot/layout/small-medium"

@import "cannot/menu"


header
  position: relative
  overflow: hidden

#header-menu-button
  position: absolute
  top: 0
  right: 0


nav h1 a
  background-position: ln(1) center
  padding-left: ln(1)
  padding-right: ln(1)
  height: ln(2)
  line-height: ln(2)


footer nav h1 a
  @include rule-after


header aside
  margin-left: ln(1)

main section.level1 > *
  padding-left: ln(1)
  padding-right: ln(1)

main section.level2
  padding-left: 0
  padding-right: 0

main section.level2 > *
  padding-left: ln(1)
  padding-right: ln(1)

main section.footnotes > *
  padding-left: ln(1)
  padding-right: ln(1)

main nav
  padding-left: 0 !important
  padding-right: 0 !important

footer aside
  margin-left: ln(1)


@import "layout/small"
