$layout-width: $layout-width-small

@function font-size($n)
  @return $n * $font-size-small

@function line-height($n)
  @return $n * $line-height-small


@import "cannot/layout/rule-small"

@import "cannot/layout/common"
@import "cannot/layout/small-medium"

@import "cannot/menu"


header
  position: relative // For #header-button
  overflow: hidden

header div.wrapper > *
  margin-left: ln(1)

#header-button
  position: absolute // Referencing header
  top: 0
  right: 0


section > *
  margin-left: ln(1)

section > nav, section > div, section > div > nav
  margin-left: 0
  margin-right: 0

section aside
  margin-top: ln(1)

section div.aside-like
  padding-left: ln(1)
  padding-right: ln(1)

section div.pre-like
  margin-left: 0
  margin-right: 0
  padding-left: ln(1)

section pre
  margin-left: 0
  margin-right: 0
  padding-left: ln(1)

section div.toggle
  margin-left: 0
  margin-right: 0

section > table
  margin-left: 0
  margin-right: 0
  width: 100%

section > table th:first-of-type
  padding-left: ln(1)

section > table td:first-of-type
  padding-left: ln(1)

section ul.menu li
  margin-left: 0
  position: static

section ul.menu li:before
  content: ""

section.with-toc ul.menu.toc li a
  @include smart-icon-after("down", $object-color-name, $accent-color-name)

section.with-toc li.with-subtoc > p
  margin-top: 0

section.with-toc li.with-subtoc > ul.toc
  display: none


footer
  position: relative // For #footer-button

footer div.wrapper > *
  margin-left: ln(1)

footer ul.menu.open
  @include rule-after(rgba($subject-color, 0.2))

#footer-button
  position: absolute // Referencing footer
  top: 0
  right: 0

#footer-button a
  @include block-button
  @include smart-icon-after("up", $subject-color-name, $accent-color-name)


@import "cannot/layout/menu-bar-small"
@import "cannot/layout/hero-small"

@import "layout/small"
