section.with-toc ul.toc
  margin-top: ln(1)
  margin-bottom: ln(1)


section.with-toc
  position: relative // For backlink-button

section.with-toc span.backlink-button
  position: absolute
  top: 0
  right: 0
  margin-right: 0

section.with-toc span.backlink-button a
  @include button
  @include smart-icon-after("up", $object-color-name, $accent-color-name)


section.with-toc section.level2 > blockquote:first-of-type
  margin-top: ln(1)

section.with-toc section.level2 > blockquote:first-of-type + nav ul
  margin-top: ln(1/2)

// NOTE: This is H specific.
section.with-toc section.level2 > nav:first-of-type ul.toc
  margin-top: 0


// NOTE: This offsets the baseline by 1px with Helvetica Neue, but not with Concourse.
section.with-toc section.level3 > h3
  display: inline-block
  margin-right: ln(1/4)
  padding-bottom: 0
  margin-bottom: 0

section.with-toc section.level3 > blockquote:first-of-type
  display: inline-block
  color: $gray9
  padding-left: 0
  margin-top: 0
  margin-right: ln(3)

section.with-toc section.level3 > blockquote:first-of-type p
  display: inline
  margin-top: 0

section.with-toc section.level3 > blockquote:first-of-type + *
  margin-top: ln(1)
