header.accent ul.menu
  @include rule-after($blue, $size: 0)

header.accent ul.menu li
  @include rule-before($blue, $size: 0)
  @include smart-opacity-after(0.3, 1)
  @include smart-image-glow-after(white)
  @include smart-icon-after("right", white, white)
  background-color: white

header.accent ul.menu.open
  @include rule-after(rgba(white, 0.15))

header.accent ul.menu.open li
  @include rule-before(rgba(white, 0.15))
  background-color: transparent


header.accent span.menu-button
  @include smart-opacity(0.3, 1)
  @include smart-image-glow(white)
  @include smart-icon-before("closed", white, white)
  @include smart-image-glow-after(white)
  @include frob-always
    &:after
      background-color: white


header.accent #header-menu-bar
  @include rule-after(rgba(white, 0.15))

header.accent #header-menu-bar.open
  @include rule-after(rgba(white, 0.15), $size: 0)
