body
  font-family: "Helvetica Neue", Helvetica, sans-serif

nav.menu-bar h1.logotype a
  @include no-text
  @include smart-image-glow($orange)
  transition: ease(filter, 1, 0), ease(-webkit-filter, 1, 0)


header.hero nav.menu-bar h1.logotype a
  @include smart-opacity(0.6, 1)
  @include smart-image-glow(white)

#hero h1.logotype
  @include no-text
  background-position: center center
