body
  font-family: "Helvetica Neue", Helvetica, sans-serif
  font-weight: 200


section h1
  font-weight: 500

section h2
  font-weight: 500

section h3
  font-weight: 500

section h4
  font-weight: 500

section h5
  font-weight: 500


nav.menu-bar h1.logotype a
  @include no-text
  @include smart-image-glow($accent-color)


header.hero nav.menu-bar h1.logotype a
  @include smart-opacity(0.6, 1)
  @include smart-image-glow(white)

#hero h1.logotype
  @include no-text
