nav.menu-bar h1.logotype a
  width: 136px
  background-size: 136px auto


header nav.menu-bar h1.logotype a
  @include smart-logotype(color, $accent-color-name, large)

section h1
  letter-spacing: -2px

section.level1.logotype h1 a
  @include smart-logotype(color, $accent-color-name, large, $double: true)
  width: 272px
  background-size: 272px auto

footer nav.menu-bar h1.logotype a
  @include smart-logotype($subject-color-name, $accent-color-name, large)
