nav h1 a
  width: 136px
  background-size: 136px ln(1)

header nav h1 a
  @include image("logotype-large", "png")

footer nav h1 a
  @include image("logotype-grayC-large", "png")

main h1
  letter-spacing: -2px
