nav.menu-bar h1.logotype a
  background-size: 102px auto


header nav.menu-bar h1.logotype a
  @include smart-logotype(color, orange, small)

section.level1 h1
  letter-spacing: -1px

footer nav.menu-bar h1.logotype a
  @include smart-logotype(gray9, orange, small)


header.hero nav.menu-bar h1.logotype a
  @include smart-logotype(white, white, small)

#hero h1.logotype
  @include image("logotype-white-hero-small", "png")
  width: 204px
  background-size: 204px auto
