nav.menu-bar h1.logotype a
  background-size: 102px auto


header nav.menu-bar h1.logotype a
  @include smart-logotype(color, $accent-color-name, small)

section.level1 h1
  letter-spacing: -1px

section.level1.logotype h1 a
  @include smart-logotype(color, $accent-color-name, small, $double: true)
  width: 204px
  background-size: 204px auto

footer nav.menu-bar h1.logotype a
  @include smart-logotype($subject-color-name, $accent-color-name, small)
