$black:  #000000
$white:  #ffffff

$gray0:  #0d0500
$gray3:  #3d3631
$gray6:  #6d6661
$gray9:  #9e9792
$grayC:  #cec7c2
$grayF:  #fff9f4

$blue:   #3f96f0
$orange: #f0690f
$violet: #ac5cf0


$background-color: $white !default
$subject-color: $grayC !default
$border-color: $gray9 !default
$object-color: $gray9 !default
$body-color: $gray3 !default
$accent-color: $orange !default

$background-color-name: white
$subject-color-name: grayC
$object-color-name: gray9
$body-color-name: gray3
$accent-color-name: orange


$icon-opacity: 0.2 !default
$active-icon-opacity: 1 !default

$underline-opacity: 0.3 !default
$active-underline-opacity: 0.8 !default

$border-opacity: 0.2 !default
$active-border-opacity: 1 !default


$rule-color: rgba($border-color, $border-opacity)
