@mixin frob-always
  @content
  .touch &:active
    @content
  .no-touch &:hover
    @content
  .no-touch &:active
    @content
  .no-touch &:hover:active
    @content

@mixin frob-when-frobbed
  .touch &:active
    @content
  .no-touch &:hover
    @content
  .no-touch &:active
    @content
  .no-touch &:hover:active
    @content


@mixin frob-when-low
  @content
  .no-touch &:active
    @content

@mixin frob-when-medium
  .no-touch &:hover
    @content

@mixin frob-when-high
  .touch &:active
    @content
  .no-touch &:hover:active
    @content


@mixin smart-text-glow($color)
  @include frob-when-low
    @include text-glow(none)
  @include frob-when-medium
    @include text-glow($color)
  @include frob-when-high
    @include active-text-glow($color)


@mixin smart-image-glow($color)
  @include frob-when-low
    @include image-glow(none)
  @include frob-when-medium
    @include image-glow($color)
  @include frob-when-high
    @include active-image-glow($color)

@mixin smart-image-glow-after($color)
  @include frob-when-low
    &:after
      @include image-glow(none)
  @include frob-when-medium
    &:after
      @include image-glow($color)
  @include frob-when-high
    &:after
      @include active-image-glow($color)


@mixin smart-opacity($low, $medium, $high: $medium)
  &:focus
    opacity: $medium
  @include frob-when-low
    opacity: $low
  @include frob-when-medium
    opacity: $medium
  @include frob-when-high
    opacity: $high

@mixin smart-opacity-after($low, $medium, $high: $medium)
  &:focus
    &:after
      opacity: $medium
  @include frob-when-low
    &:after
      opacity: $low
  @include frob-when-medium
    &:after
      opacity: $medium
  @include frob-when-high
    &:after
      opacity: $high


@mixin smart-icon($name, $unfrobbed-color-name, $frobbed-color-name)
  @include icon($name, $unfrobbed-color-name)
  &:focus
    @include icon($name, $frobbed-color-name)
  @include frob-when-frobbed
    @include icon($name, $frobbed-color-name)

@mixin smart-icon-after($name, $unfrobbed-color-name, $frobbed-color-name)
  &:after
    @include icon($name, $unfrobbed-color-name)
  &:focus
    &:after
      @include icon($name, $frobbed-color-name)
  @include frob-when-frobbed
    &:after
      @include icon($name, $frobbed-color-name)


@mixin smart-logotype($unfrobbed, $frobbed, $size)
  @if $unfrobbed == color
    $unfrobbed: ""
  @else
    $unfrobbed: "-#{$unfrobbed}"
  @include image("logotype#{$unfrobbed}-#{$size}", "png")
  &:focus
    @include image("logotype-#{$frobbed}-#{$size}", "png")
  @include frob-when-frobbed
    @include image("logotype-#{$frobbed}-#{$size}", "png")
  transition: ease(box-shadow, 1, 0), ease(opacity, 1, 0), ease(filter, 1, 0), ease(-webkit-filter, 1, 0)
