$image-url-base: "_images" !default


@import "cannot/hires"


@function image-url($name, $scale, $format)
  @if $scale == 1x
    @return url(#{$image-url-base}/#{$name}.#{$format})
  @return url(#{$image-url-base}/#{$name}@#{$scale}.#{$format})

@mixin background-image-hires($url, $important: false)
  @include hires
    @if $important
      background-image: $url !important
    @else
      background-image: $url

@mixin image($name, $format, $important: false)
  @if $format != svg
    @include background-image-hires(image-url($name, 2x, $format), $important)
  @if $important
    background-image: image-url($name, 1x, $format) !important
  @else
    background-image: image-url($name, 1x, $format)
  background-repeat: no-repeat
