$debug: false !default

$font-size-small: 18 !default
$font-size-large: 24 !default

$line-height-small: 24 !default
$line-height-large: 32 !default

$layout-width-small:   600px !default
$layout-width-medium:  800px !default
$layout-width-large:  1000px !default

$no-logo: false !default


@media (max-width: $layout-width-small)
  @import "cannot/layout/small"

@media (min-width: $layout-width-small + 1) and (max-width: $layout-width-medium)
  @import "cannot/layout/medium"

@media (min-width: $layout-width-medium + 1)
  @import "cannot/layout/large"


*, *:before, *:after
  box-sizing: border-box

body
  text-rendering: optimizeLegibility
  text-size-adjust: 100%

.wrapper
  margin-left: auto
  margin-right: auto
  max-width: $layout-width-large
