// NOTE: There is a bug in Safari where text-shadow does not transition smoothly.

a {
	@include frob-always {
	  transition:
	    ease(color, 1, 0),
	    ease(text-shadow, 1, 0);
	}
}

a:after {
	@include frob-always {
		transition:
			ease(border-bottom-color, 1, 0);
	}
}
