@mixin text-button
  cursor: pointer
  .touch &
    user-select: none
    -webkit-tap-highlight-color: transparent

@mixin no-underline
  text-decoration: none
  @include frob-when-frobbed
    text-decoration: underline

@mixin no-text
  @include no-underline
  overflow: hidden
  text-indent: 200%
  white-space: nowrap
  @include frob-always
    color: transparent
    text-shadow: none


// NOTE: There is a bug in Safari where text-shadow does not transition smoothly.

// NOTE: Safari does not respect outline-color for the default focus ring, but Chrome does.

a
  @include text-button
  @include smart-text-glow($accent-color)
  color: $object-color
  transition: ease(box-shadow, 1, 0), ease(color, 1, 0), ease(text-shadow, 1, 0)
  &:focus
    outline-color: $accent-color
  @include frob-when-frobbed
    color: $accent-color

footer a
  color: $subject-color
