@mixin text-button
  cursor: pointer
  .touch &
    user-select: none
    -webkit-tap-highlight-color: transparent

@mixin no-underline
  @include frob-always
    text-decoration: none

@mixin no-text
  @include no-underline
  overflow: hidden
  text-indent: 200%
  white-space: nowrap
  @include frob-always
    color: transparent
    text-shadow: none


// NOTE: There is a bug in Safari where text-shadow does not transition smoothly.

a
  @include text-button
  @include smart-text-glow($accent-color)
  color: $object-color
  transition: ease(box-shadow, 1, 0), ease(color, 1, 0), ease(text-shadow, 1, 0)
  &:focus
    @include box-glow($accent-color)
    outline: 0
  @include frob-when-frobbed
    color: $accent-color
