// Forwards

span.menu-button.open {
  transition:
    ease(filter, 1, 0),           // General menu-button transition
    ease(-webkit-filter, 1, 0),   // General menu-button transition
    ease(opacity, 1, 0);          // General menu-button transition
  &:before {
    transition:
      ease(filter, 1, 0),           // General menu-button transition
      ease(-webkit-filter, 1, 0),   // General menu-button transition
      ease(height, 1, 0),           // Step 1
      ease(top, 1, 0),              // Step 1
      ease(transform, 2, 1);        // Step 2
  }
}


// Backwards

span.menu-button {
  transition:
    ease(filter, 1, 0),           // General menu-button transition
    ease(-webkit-filter, 1, 0),   // General menu-button transition
    ease(opacity, 1, 0);          // General menu-button transition
  &:before {
    transition:
      ease(filter, 1, 0),           // General menu-button transition
      ease(-webkit-filter, 1, 0),   // General menu-button transition
      ease(transform, 2, 0),        // Step 1
      ease(height, 1, 2),           // Step 2
      ease(top, 1, 2);              // Step 2
  }
}
