// Forwards

ul.menu.open:after {
  transition:
    linear(border-top-width, 0, 0),   // Step <1
    ease-out(border-top-color, 2, 0); // Step 1
}

ul.menu.open li:before {
  transition:
    linear(border-bottom-width, 0, 0),   // Step <1
    ease-out(border-bottom-color, 2, 0); // Step 1
}

ul.menu.open li {
  transition:
    ease(height, 1, 0),               // Step 1
    ease-out(background-color, 1, 0); // Step 1
}

ul.menu.open li:after {
  transition:
    ease(opacity, 1, 0),        // Icon
    ease(filter, 1, 0),         // Icon
    ease(-webkit-filter, 1, 0), // Icon
    ease-out(right, 2, 1);      // Step 2
}

ul.menu.open li a {
  transition:
    ease(color, 1, 0),           // Link
    ease(text-shadow, 1, 0),     // Link
    ease-out(text-indent, 2, 1); // Step 2
}


// Backwards

ul.menu li:after {
  transition:
    ease(opacity, 1, 0),        // Icon
    ease(filter, 1, 0),         // Icon
    ease(-webkit-filter, 1, 0), // Icon
    ease-in(right, 2, 0);       // Step 1
}

ul.menu li a {
  transition:
    ease(color, 1, 0),          // Link
    ease(text-shadow, 1, 0),    // Link
    ease-in(text-indent, 2, 0); // Step 1
}

ul.menu li {
  transition:
    ease(height, 1, 2),              // Step 2
    ease-in(background-color, 1, 2); // Step 2
}

ul.menu:after {
  transition:
    ease-in(border-top-color, 2, 1), // Step 2
    ease-in(border-top-width, 0, 3); // Step 2>
}

ul.menu li:before {
  transition:
    ease-in(border-bottom-color, 2, 1), // Step 2
    ease-in(border-bottom-width, 0, 3); // Step 2>
}
