span.menu-button a
  @include block-button
  @include smart-icon-after("closed", $object-color-name, $accent-color-name)

footer span.menu-button a
  @include smart-icon-after("closed", $subject-color-name, $accent-color-name)


// Animation start

span.menu-button a:after
  height: $icon-size
  top: (ln(2) - $icon-size) / 2
  transform: rotate(0deg)


// Animation end

span.menu-button.open a:after
  height: $icon-stroke
  top: (ln(2) - $icon-stroke) / 2
  transform: rotate(-180deg)
