ul.menu li
  height: ln(2)
  line-height: ln(2)
  position: relative

ul.menu li a
  @include smart-opacity-after(0.2, 1)
  @include smart-image-glow-after($accent-color)
  @include smart-icon-after("right", $object-color-name, $accent-color-name)
  @include text-button
  @include no-underline
  display: block
  width: 100%
  height: 100%
  padding-left: ln(1)
  padding-right: ln(1)
  position: relative

ul.menu li a:after
  @include button-icon


// Animation start

ul.menu
  @include rule-after($accent-color, $size: 0)

ul.menu li
  background-color: $accent-color
  height: 0

ul.menu li
  @include rule-before($accent-color, $size: 0)

ul.menu li a:after
  right: -100%

ul.menu li a
  text-indent: -100%


// Animation end

ul.menu.open
  @include rule-after(rgba($object-color, 0.2))
  opacity: 1

ul.menu.open li
  background-color: transparent
  height: ln(2)

ul.menu.open li
  @include rule-before(rgba($object-color, 0.2))

ul.menu.open li a:after
  right: ln(1)

ul.menu.open li a
  text-indent: 0


@import "cannot/menu-animation"
@import "cannot/menu-button"
@import "cannot/menu-button-animation"
