html.hero
  background: linear-gradient(to bottom, white, white 45%, black 55%, black)

header.hero
  background: black
  color: rgba(white, 0.4)

header.hero a
  @include smart-text-glow(white)
  color: rgba(white, 0.4)
  @include frob-when-frobbed
    color: white

main.hero
  background-color: $background-color
  margin-top: 0
  margin-bottom: ln(-2)

footer.hero
  background-color: $background-color


#hero
  background-color: black
  color: white
  margin-top: ln(-2)
  display: flex
  flex-direction: column
  justify-content: space-around
  text-align: center

#hero .hero-wrapper
  margin-top: ln(2)
  margin-bottom: ln(2)

#hero h1
  display: inline-block
  font-weight: bold
  font-size: em(2)
  height: ln(2)
  line-height: ln(2)
  margin-top: ln(2)
  margin-bottom: ln(1/2)

#hero-button
  display: inline-block
  width: ln(2) + $icon-size
  height: ln(2)
  margin-bottom: ln(1/2)
  position: relative
  @include smart-icon-before("down", white, white)
  @include smart-opacity-before(0.4, 1)
  @include smart-image-glow-before($white)

#hero-button:before
  width: $icon-size
  height: $icon-size
  position: absolute
  top: (ln(2) - $icon-size) / 2
  right: (ln(2) + $icon-size - $icon-size) / 2
  z-index: 1
  pointer-events: none
  content: ""
  transition: ease(opacity, 1, 0), ease(filter, 1, 0), ease(-webkit-filter, 1, 0)

#hero-button a
  @include no-text
  display: block
  width: 100%
  height: 100%
