header.hero:before
  background-color: $gray0
  top: 0
  bottom: ln(2)
  left: 0
  right: 0
  position: absolute
  content: ""


header.hero ul.menu
  @include rule-after(white, $size: 0)

header.hero ul.menu li
  @include rule-before(white, $size: 0)
  @include smart-opacity-after(0.3, 1)
  @include smart-image-glow-after(white)
  @include smart-icon-after("right", white, white)
  background-color: white

header.hero ul.menu.open
  @include rule-after(rgba(white, 0.15))

header.hero ul.menu.open li
  @include rule-before(rgba(white, 0.15))
  background-color: $gray0


header.hero span.menu-button
  @include smart-opacity(0.3, 1)
  @include smart-image-glow(white)
  @include smart-icon-before("closed", white, white)
  @include smart-image-glow-after(white)
  @include frob-always
    &:after
      background-color: white


header.hero #header-menu-bar
  @include rule-after(rgba(white, 0.15))

header.hero #header-menu-bar.open
  @include rule-after(rgba(white, 0.15), $size: 0)
