header.hero .menu-button
  @include smart-image-glow(white)
  @include smart-icon-before("closed", white, white)
  @include smart-image-glow-after(white)
  @include frob-always
    &:after
      background-color: white

header.hero .menu
  background: none

header.hero .menu li
  background-color: white
  @include smart-icon-after("right", white, white)
  @include smart-image-glow-after(white)
  @include frob-always
    border-bottom: 0px white solid

header.hero .menu.open li
  background-color: transparent
  @include frob-always
    border-bottom: 1px rgba($object-color, 0.2) solid
