section.with-toc ul.toc
  margin-bottom: ln(1)


section.with-toc span.button-wrapper
  margin-right: 0
  position: absolute
  top: 0
  right: 0

section.with-toc span.backlink-button
  @include button
  @include smart-icon-before("up", $object-color-name, $accent-color-name)


// NOTE: This offsets the baseline by 1px with Helvetica Neue, but not with Concourse.
section.with-toc section.level3 > h3
  display: inline-block
  margin-right: ln(1/4)
  padding-bottom: 0
  margin-bottom: 0

section.with-toc section.level3 > h3 + blockquote
  display: inline-block
  color: $gray9
  font-style: italic
  padding-left: 0
  margin-top: 0
  margin-right: ln(3)

section.with-toc section.level3 > h3 + blockquote p
  display: inline
  margin-top: 0

section.with-toc section.level3 > h3 + blockquote p code
  background-color: rgba($grayC, 0.1)
  color: $gray9

section.with-toc section.level3 > h3 + blockquote + p
  margin-top: 0

section.with-toc section.level3 > p:first-of-type
  margin-top: ln(1)


section.with-toc section.level4 h4 + nav ul.toc
  margin-top: ln(-1/2)

section.with-toc section.level4 h5 + nav ul.toc
  margin-top: ln(-1/2)
